
// --------colores------
$coloruno: rgb(34, 34, 34);
$colorDos: #ffc107;
$colorTres: rgba(0,0,0,.3);
$colorCuatro: grey;
$colorCinco: green;
$colorSeis: white;


$colorCuadranteHome: rgba(0,0,0,.3);


// --------tamaños de Fuente------
$tamañoLetraChica:20px;
$tamañoLetraUno: 40px;
$tamañoLetraDos:60px;


// --------achicar tamaño/ hover------
$tamaño_Achicado1: scale(.85);
$tamaño_Achicado2: scale(.96);


// --------margenes superiores especificos------

$margenSuperior: 80px;



