
// --------colores------
$coloruno: #222;
$colorDos: #ffc107;
$colorTres: rgba(0,0,0,.3);


// --------tamaños de Fuente------
$tamañoLetraUno: 30px;


// --------achicar tamaño/ hover------
$tamaño_Achicado1: scale(.85);
$tamaño_Achicado2: scale(.96);


