
@import "variables.scss";



// --------------Efecto Hover sobre las fotos---------




.fondoCol{
    background-color: $coloruno;

    .sobre1_img{
        position: relative;
        transition-property: all;
        transition-duration: .5s;
    }
    .sobre1_img:hover{
        transform: $tamaño_Achicado2;
        background-color: $colorTres;
    }
 
}