
// @import "variables.scss";


//  -------Titulo principal--------- 

.titulo_principal{
    width: 100%;
    background-color: $coloruno;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
    padding: 10px;
    margin-bottom:5px;

    h1{
        color: $colorSeis;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 35px;
        text-align: start;
    }

}

//  -------Logo bar en carrusel--------- 

.logoBarcito{
    max-width: 596px;
    height: auto;
}

//  -------Beneficios--------- 

.cuadrante{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: .5s;

    
    .beneficios{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        width: 100%;
        height: 100%;
        
            h3{
                font-size: $tama침oLetraUno;
                text-align: center;
                color: $colorCuatro;
            }
            h4{
                font-size: $tama침oLetraChica;
                text-align: center;
                color: $coloruno;
                font-family: 'Roboto', sans-serif;
                font-weight: lighter;
                } 
            .beneficio_1{
                font-family: 'Finger Paint', cursive;
                transition-property: all;
                transition-duration: .5s;
            }
                .beneficio_1:hover{
                    color: $colorSeis;
                }
            .beneficio_2{
                font-family: 'Lobster', cursive;
                transition-property: all;
                transition-duration: .5s;
            }
                .beneficio_2:hover{
                color: $colorSeis;
                }
            .beneficio_3{
                font-family: 'Major Mono Display', monospace;
                transition-property: all;
                transition-duration: .5s;
            }
                .beneficio_3:hover{
                color: $colorSeis;
                }
            .beneficio_4{
                font-family: 'Monoton', cursive;
                transition-property: all;
                transition-duration: .5s;
            }
                .beneficio_4:hover{
                color: $colorSeis;
                }
            .beneficio_5{
                font-family: 'Permanent Marker', cursive;
                transition-property: all;
                transition-duration: .5s;
            }
                .beneficio_5:hover{
                color: $colorSeis;
                }

            .beneficio_6{
                font-family: 'Cinzel Decorative', cursive;
                font-weight: 700;
            }
                .beneficio_6:hover{
                color: $colorSeis;
                }
                 
    }
}

.cuadrante:hover{
    background-color: $colorCuadranteHome;
}

/* -------Logo whastapp--------- */

#logo_whastapp{
    position: fixed;
    bottom: 5vh;
    right: 5%;
    transition-property: all;
    transition-duration: .5s;
}

#logo_whastapp:hover{
    transform: $tama침o_Achicado1;
}

/* -------botones carrusel (PARA LLEVAR / EN EL LOCAL)--------- */

@mixin but($ancho, $alto, $fondoColor, $puntasRedondas, $margensup, $padding,$border,$color) {
    width: $ancho;
    height: $alto;
    background-color: $fondoColor;
    border-radius: $puntasRedondas;
    margin-top: $margensup;
    padding: $padding;
    border: $border;
    color: $color;

}

// -----------Boton amarillo--------------
.boton_1 {
    @include but (102px, 38px, $colorDos,3px,2px,2px,none,$coloruno);
    transition-property: all;
    transition-duration: .5s;
}

    .boton_1:hover{
        background-color: $colorSeis;
    }


// -----------Boton verde--------------
.boton_2 {
    @include but (102px, 38px, $colorCinco,3px,2px,2px,none,$colorSeis);
    transition-property: all;
    transition-duration: .5s;
}
    .boton_2:hover{
        background-color: $colorSeis;
        color: $coloruno;
    }



/* ------mediaQuery----- */

@media screen and (max-width: 1298px) {
    .logoBarcito{
        max-width: 450px;
        height: auto;
    }
}

@media screen and (max-width: 1098px) {
    .logoBarcito{
        max-width: 350px;
        height: auto;
    }
}

@media screen and (max-width: 960px) {
        .logoBarcito{
            max-width: 290px;
            height: auto;
            margin-bottom: 20px;
        }
        h4.direcci칩n {
            display: none;
        }

        p {
            display: none;
        }
}

@media screen and (max-width: 800px) {
    .titulo_principal{
            
        h1{
            
            font-size: 30px;
            
        }
    
    }
}


@media screen and (max-width: 600px) {
    .titulo_principal{
        align-items: center;
        h1{
            
            font-size: 22px;
            justify-content: center;
            text-align: center;
            
        }
    
    }
}