// @import "variables.scss";

.alturacuadro{
    
    height: 100%;


    .alto{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:stretch;
    }
        

        // --------------Efecto Hover sobre las fotos de los productos---------
        .sobre_img{
            transition-property: all;
            transition-duration: .5s;
        }
            .sobre_img:hover{
                transform: $tamaño_Achicado1;
            }


        // --------------Detalles del precio y el nombre de los productos---------

        .Precio{
            font-size:25px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }

        .Prod_name{
            font-size: $tamañoLetraChica;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color:black;
        }

}





//    PROPUESTA PARA ARMAR LAS CARDS CON MIXIN--SIN BOOSTRAP 
// ----------------------------------------------

// .tarjetitas{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }

// @mixin card($ancho, $alto, $fondoColor, $puntasRedondas, $margensup, $padding, $display, $direction) {
//     width: $ancho;
//     height: $alto;
//     background-color: $fondoColor;
//     border-radius: $puntasRedondas;
//     margin-top: $margensup;
//     padding: $padding;
//     display: $display;
//     flex-direction: $direction;
// }

// .tarj {
//     @include card (16%, 462px,$colorDos,5px,10px,10px, flex, column);
// }

// .tarj1 {
//     @include card (16%, 462px,$colorCuatro,5px,10px,10px, flex, column);
// }




// .tarj_img {
//     background-color: $coloruno;
//     width: 100%;
//     height: 100%;
// }

// .tarj_text {
//     background-color: $colorTres;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }



// @media screen and (max-width: 1200px) {
//     .tarj {
//         @include card (24.5%, 462px,$colorDos,5px,10px,10px, flex, column);
//     }
//     .tarj1 {
//         @include card (24.5%, 462px,$colorCuatro,5px,10px,10px, flex, column);
//     }
// }

// @media screen and (max-width: 768px) {
//     .tarj {
//         @include card (32%, 462px,$colorDos,5px,10px,10px, flex, column);
//     }
//     .tarj1 {
//         @include card (32%, 462px,$colorCuatro,5px,10px,10px, flex, column);
//     }
// }

// @media screen and (max-width: 576px) {
//     .tarj {
//         @include card (49.5%, 462px,$colorDos,5px,10px,10px, flex, column);
//     }
//     .tarj1 {
//         @include card (49.5%, 462px,$colorCuatro,5px,10px,10px, flex, column);
//     }
// }

// @media screen and (max-width: 350px) {
//     .tarj {
//         @include card (100%, 462px,$colorDos,5px,10px,10px, flex, column);
//     }
//     .tarj1 {
//         @include card (100%, 462px,$colorCuatro,5px,10px,10px, flex, column);
//     }
// }