
.alto_fila{
    height: 82.5vh;

    .fondo_img1{
        background-image: url(../img/main/local/cafeteria.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    
    
    .fondo_img2{
        background-image: url(../img/main/local/pasteleria.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    
    }
    
    .fondo_img3{
        background-image: url(../img/main/local/panaderia.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    
    
    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight:bolder;
        font-size: $tamañoLetraUno;
    
        td{
            font-family: 'Roboto', sans-serif;
            font-weight: lighter;
        }
    
    }



}




    /*------mediaQuery----- */

    
    @media screen and (max-width: 1285px) {
        .alto_fila{
            height: 100%;
        }
    }

    
    



